force-app/main/default/flows/Concatenate_Team_Season_Name_and_Auto_populate_Scores_Staff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>myRule_4</name>
        <label>Is New Team Season Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>FALSE_Is New Team Season Record</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_Is New Team Season Record</label>
        </rules>
    </decisions>
    <description>Migrated from the Concatenate Team Season Name and Auto-populate Scores Staff process using multiple criteria.
Concatenation of Team and Season Name and Auto-populate Scores Staff in Team Season from Team</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_1_A1_4730841894</name>
        <dataType>String</dataType>
        <expression>$Record.Team__c.Name &amp; &quot;-&quot; &amp; $Record.Season__c.Name</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <label>Concatenate Team Season Name and Auto-populate Scores Staff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Fill in Season and Team</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_4730841894</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Auto-populate Scores Staff from Team</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Coach_Soccer__c</field>
            <value>
                <elementReference>$Record.Team__r.Coach_Soccer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coach_Writing__c</field>
            <value>
                <elementReference>$Record.Team__r.Coach_Writing__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCORES_Program_Coordinator__c</field>
            <value>
                <elementReference>$Record.Team__r.SCORES_Program_Coordinator__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCORES_Program_Manager__c</field>
            <value>
                <elementReference>$Record.Team__r.SCORES_Program_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
        <object>Team_Season__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
